---
/**
 * Update Password Page
 *
 * Allows users to set a new password after clicking the recovery link from their email.
 * This page is required by the Supabase password recovery flow.
 */
import Layout from "../layouts/Layout.astro";
import { UpdatePasswordForm } from "../components/auth/UpdatePasswordForm";
---

<Layout title="Update Password - Reservo">
  <div class="container mx-auto px-4 py-16 flex items-center justify-center min-h-[calc(100vh-4rem)]">
    <UpdatePasswordForm client:load />
  </div>
</Layout>
